<!--<div class="container-lg">-->

<!--  <div class="card card-outline-secondary mx-auto shadow-sm rounded">-->
<!--    <div class="card-header-pills" style="font-size: medium; text-align: center">Wyszukiwarka</div>-->
<!--    <div class="card-body" style="padding: 1rem;">-->
<!--      <app-entrustment-filter></app-entrustment-filter>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container-lg">-->
<!--  <div class="card card-outline-secondary mx-auto shadow-sm rounded">-->
<!--    <div class="card-header-pills" style="font-size: medium; text-align: center">Wyszukiwarka</div>-->
<!--    <div class="card-body" style="padding: 1rem;">-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container-lg">
  <div class="row">
    <div class="col">
      <div class="card card-outline-secondary mx-auto shadow-sm rounded">
        <div class="card-header-pills" style="margin: 10px; font-size: medium; text-align: center">Wyszukiwarka</div>
        <div class="card-body" style="padding: 1rem; border-top: 1px solid rgb(200, 200, 200)">
          <app-entrustment-filter></app-entrustment-filter>
        </div>
      </div>
    </div>
    <div class="col-8" style="width: 60%">
      <div>
<!--        <label class="text-center top-buffer d-block mx-auto" >Lista twoich powierzeń:</label>-->
<!--        <label class="text-center top-buffer d-block mx-auto" >Parametry filtrowania</label>-->
        <p *ngIf="shouldShowInstructionsText()" class="text-center d-block mx-auto">Użyj wyszukiwarki, aby znaleźć swoje powierzenia.</p>
        <p *ngIf="shouldShowNoResultsText()" class="text-center d-block mx-auto">Nie znaleziono powierzeń spełniających wyniki wyszukiwania.</p>
        <div class="overflow-auto" style="height: 70vh">
          <app-entrustment-list></app-entrustment-list>
        </div>
      </div>
    </div>
  </div>
</div>
