<!--<div class="container-lg">-->

<!--  <div class="card card-outline-secondary mx-auto shadow-sm rounded">-->
<!--    <div class="card-header-pills" style="font-size: medium; text-align: center">Wyszukiwarka</div>-->
<!--    <div class="card-body" style="padding: 1rem;">-->
<!--      <app-entrustment-filter></app-entrustment-filter>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container-lg">-->
<!--  <div class="card card-outline-secondary mx-auto shadow-sm rounded">-->
<!--    <div class="card-header-pills" style="font-size: medium; text-align: center">Wyszukiwarka</div>-->
<!--    <div class="card-body" style="padding: 1rem;">-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container-lg">
  <div class="row">
    <div class="col-3">
      <div class="card card-outline-secondary mx-auto shadow-sm rounded">
        <div class="card-header-pills" style="margin: 10px; font-size: medium; text-align: center">Wyszukiwarka</div>
        <div class="card-body" style="padding: 1rem; border-top: 1px solid rgb(200, 200, 200)">
          <app-entrustment-filter [isCourseInstructor]="true"></app-entrustment-filter>
        </div>
      </div>
    </div>
    <div class="col-8">
      <button class="btn btn-primary" style="margin-bottom: 20px" routerLink="/entrustment-add-panel">Dodaj powierzenie</button>
      <div>
        <label class="text-center top-buffer d-block mx-auto" >Parametry wyszukiwania</label>
        <p class="text-center d-block mx-auto">Użyj wyszukiwarki, aby znaleźć powierzenia lub dodaj nowe powierzenie.</p>
        <div class="overflow-auto" style="height: 70vh">
          <app-entrustment-list *ngIf="true"></app-entrustment-list>
        </div>
      </div>
    </div>
  </div>
</div>
