<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
<div class="card card-outline-secondary mx-auto shadow-sm rounded my-drop-down"  [style.background-color]="course.zzuHours > 15 ? 'greenyellow' : 'lightskyblue'" style="margin: 10px; width: 100%;">
  <a class="card-body" role="button" style="padding: 10px" (click)="onCardClicked()">
    <div>
      <label style="margin: 0; font-size: small">W08</label>
      <span style="margin: 0"> - </span>
      <label style="margin: 0">II st.</label>
      <span style="margin: 0"> - </span>
      <label style="margin: 0">Informatyka</label>
      <span style="margin: 0"> - </span>
      <label style="margin: 0; white-space: nowrap; text-overflow: ellipsis; max-width: 50px">Inżynieria Oprogramowania</label>
      <a class="btn float-right" *ngIf="isCardEditable()"><i class="fas fa-pencil-alt"></i></a>
      <!--      <li class="float-right" ngbDropdown display="dynamic" placement="bottom-right">-->
      <!--        <a style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button"></a>-->

      <!--      </li>-->
    </div>
    <div>
      <label style="margin: 0">{{course.code}}</label>
      <span style="margin: 0"> - </span>
<!--      <label style="margin: 0">{{course.name.slice(0, 40)}}</label>-->
      <label style="margin: 0; white-space: nowrap; text-overflow: ellipsis">{{course.name}}</label>
    </div>
    <div class="row">
      <div class="col">
        <label style="margin: 0; white-space: nowrap;">Liczba godzin ZZU: {{course.zzuHours}}</label>
      </div>
      <div class="col">
<!--        <label [style.color]="getStatusColor()" style="margin: 0;">{{entrustment.status.toString().toUpperCase()}}</label>-->
        <label style="margin: 0; white-space: nowrap;">Do przydzielenia: yyy</label>
      </div>
    </div>
  </a>
</div>
