<div class="card card-outline-secondary mx-auto shadow rounded" style="width: 22rem; margin: 5rem auto;">
  <div class="card-header-pills" style="font-size: medium; text-align: center; margin-top: 1rem">Wybierz funkcjonalność:</div>
  <div class="card-body" style="padding: 1rem;">
      <button class="btn btn-success d-block mx-auto" style="width: 75%; margin: 1rem" (click)="onCruClicked()">CRU powierzeń</button>
      <input type="text" class="form-control d-block mx-auto top-buffer" style="width: 75%; margin-top: 30px; text-align: center" [class.is-valid]="pickedCourseInstructor" placeholder="Wpisz prowadzącego"
             [(ngModel)]="pickedCourseInstructor" [ngbTypeahead]="searchCourseInstructors" [resultTemplate]="rtCourseInstructor"
             (focus)="focusCourseInstructorsTextBox$.next($event.target.value)"
             (click)="clickCourseInstructorsTextBox$.next($event.target.value)"
             [inputFormatter]="formatterCourseInstructor"
             [editable]="false"
             #courseInstructorsTextBox="ngbTypeahead"/>
      <button class="btn btn-info d-block mx-auto top-buffer" style="width: 75%" [disabled]="!pickedCourseInstructor" (click)="onSuggestionsClicked()">Zatwierdzanie/sugestie zmian</button>
  </div>
  <div class="card-footer" style="font-size: small; text-align: center;">Autorzy: Konrad Jakubowski, Hubert Kościelski</div>
</div>
<ng-template ngbPanelContent #rtCourseInstructor let-r="result" let-t="term">
  <ngb-highlight [result]="r.academicDegree + ' ' + r.firstName  + ' ' + r.surname" [term]="t"></ngb-highlight>
</ng-template>
