<div class="card card-outline-secondary mx-auto shadow rounded" style="width: 22rem; margin: 5rem auto;">
  <div class="card-header-pills" style="font-size: medium; text-align: center; margin-top: 1rem">Wybierz funkcjonalność:</div>
  <div class="card-body" style="padding: 1rem;">
      <button class="btn btn-success d-block mx-auto" style="width: 75%; margin: 1rem" routerLink="/cru-main-view">CRU powierzeń</button>
      <button class="btn btn-info d-block mx-auto" style="width: 75%" routerLink="/suggestions-main-view">Zatwierdzanie/sugestie zmian</button>
  </div>
  <div class="card-footer" style="font-size: small; text-align: center;">Autorzy: Konrad Jakubowski, Hubert Kościelski</div>
</div>
