<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
<div class="card card-outline-secondary mx-auto shadow-sm rounded my-drop-down" ngbDropdown display="dynamic" placement="bottom-right" style="margin: 10px; width: 95%;">
  <a class="card-body" role="button" style="padding: 10px" (click)="onCardClicked($event)">
    <div>
      <label style="margin: 0">W08</label>
      <span style="margin: 0"> - </span>
      <label style="margin: 0">II st.</label>
      <span style="margin: 0"> - </span>
      <label style="margin: 0">Informatyka</label>
      <span style="margin: 0"> - </span>
      <label style="margin: 0">Inżynieria Oprogramowania</label>
      <a class="btn float-right" *ngIf="isCardEditable()"><i class="fas fa-pencil-alt"></i></a>
<!--      <li class="float-right" ngbDropdown display="dynamic" placement="bottom-right">-->
<!--        <a style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button"></a>-->

<!--      </li>-->
    </div>
    <div>
      <label style="margin: 0">{{entrustment.course.code}}</label>
      <span style="margin: 0"> - </span>
      <label style="margin: 0">{{entrustment.course.name}}</label>
    </div>
    <div>
      <label style="margin: 0">Prowadzący: {{entrustment.courseInstructor.academicDegree}} {{entrustment.courseInstructor.firstName}} {{entrustment.courseInstructor.surname}}</label>
    </div>
    <div class="row">
      <div class="col">
        <span>Liczba godzin: </span>
        <label style="margin: 0">{{entrustment.numberOfHours}}</label>
      </div>
      <div class="col">
        <span>Status: </span>
        <label [style.color]="getStatusColor()" style="margin: 0;">{{entrustment.status.toString().toUpperCase()}}</label>
      </div>
    </div>
  </a>
  <div ngbDropdownMenu class="dropdown-menu my-drop-down" style="background-color: lightgrey">
    <button ngbDropdownItem [disabled]="!canBeModified()" (click)="onEditClicked()">Zaproponuj zmianę</button>
    <button ngbDropdownItem [disabled]="!canBeAccepted()" (click)="onAcceptClicked()">Zaakceptuj</button>
    <button ngbDropdownItem [disabled]="!canBeRejected()" (click)="onRejectClicked()">Odrzuć</button>
  </div>
</div>
