<!--<div class="container-fluid d-flex justify-content-center" style="width: 90%; background-color: yellow">-->
<div class="container-fluid d-flex justify-content-center" style="width: 90%;">
  <div class="row">
<!--    <div class="col-0"></div>-->
<!--    <div class="col-7" style="background-color: green">-->
    <div class="col-7">
      <div class="card card-outline-secondary mx-auto shadow-sm rounded">
        <div class="card-header-pills" style="margin: 10px; font-size: medium; text-align: center; ">Dodawanie powierzenia</div>
        <div class="card-body" style="padding: 1rem; border-top: 1px solid rgb(200, 200, 200)">
          <div class="row">
            <div class="col">
              <select class="form-control top-buffer"[(ngModel)]="sharedDataService.actualFilterOptions.academicYear" (ngModelChange)="sharedDataService.onFilterOptionsChanged$.next(sharedDataService.actualFilterOptions)">
                <option [selected]="!sharedDataService.actualFilterOptions.academicYear" [ngValue]="undefined">Rok akademicki</option>
                <option *ngFor="let x of filteredAcademicYears" [ngValue]="x" [selected]="sharedDataService.actualFilterOptions.academicYear == x">{{x}}</option>
              </select>
              <!--<pre>pickedAcademicYear: {{ pickedAcademicYear | json }}</pre>-->
              <select class="form-control top-buffer" [(ngModel)]="sharedDataService.actualFilterOptions.semester" (ngModelChange)="sharedDataService.onFilterOptionsChanged$.next(sharedDataService.actualFilterOptions)">
                <option [selected]="!sharedDataService.actualFilterOptions.semester" [ngValue]="undefined">Semestr</option>
                <option *ngFor="let x of filteredSemesters" [ngValue]="x" [selected]="sharedDataService.actualFilterOptions.semester == x">{{x.semesterNumber}}</option>
              </select>
              <!--<pre>pickedSemester: {{ pickedSemester | json }}</pre>-->
              <select class="form-control top-buffer" [(ngModel)]="sharedDataService.actualFilterOptions.studyLevel" (ngModelChange)="sharedDataService.onFilterOptionsChanged$.next(sharedDataService.actualFilterOptions)">
                <option [selected]="!sharedDataService.actualFilterOptions.studyLevel" [ngValue]="undefined">Stopień</option>
                <option *ngFor="let x of filteredStudyLevels" [ngValue]="x" [selected]="sharedDataService.actualFilterOptions.studyLevel == x">{{x.name}}</option>
              </select>
              <!--<pre>pickedStudyLevel: {{ pickedStudyLevel | json }}</pre>-->
              <select class="form-control top-buffer" [(ngModel)]="sharedDataService.actualFilterOptions.specialty" (ngModelChange)="sharedDataService.onFilterOptionsChanged$.next(sharedDataService.actualFilterOptions)">
                <option [selected]="!sharedDataService.actualFilterOptions.specialty" [ngValue]="undefined">Specjalność</option>
                <option *ngFor="let x of filteredSpecialties" [ngValue]="x" [selected]="sharedDataService.actualFilterOptions.specialty == x">{{x.shortName}} - {{x.name}}</option>
              </select>
            </div>
            <div class="col">
              <input type="text" class="form-control top-buffer" [class.is-valid]="sharedDataService.actualFilterOptions.course" placeholder="Wpisz kod lub nazwę kursu"
                     [(ngModel)]="sharedDataService.actualFilterOptions.course" [ngbTypeahead]="searchCourses" [resultTemplate]="rtCourse"
                     (ngModelChange)="sharedDataService.onFilterOptionsChanged$.next(sharedDataService.actualFilterOptions)"
                     (focus)="focusCoursesTextBox$.next($event.target.value)"
                     (click)="clickCoursesTextBox$.next($event.target.value)"
                     [inputFormatter]="formatterCourse"
                     [editable]="false"
                     #coursesTextBox="ngbTypeahead"/>
              <!--<pre>onPickedCourse$: {{ onPickedCourse$ | json }}</pre>-->
              <div class="row top-buffer" style="margin-top: 10%">
                <label for="prowadzacyId" class="col-5 col-form-label" style="margin-top: 10px">Prowadzący:</label>
                <div class="col-7">
                  <input id="prowadzacyId" type="text" class="form-control top-buffer" [class.is-valid]="sharedDataService.actualFilterOptions.courseInstrucor" placeholder="Wpisz prowadzącego"
                         [(ngModel)]="sharedDataService.actualFilterOptions.courseInstrucor" [ngbTypeahead]="searchCourseInstructors" [resultTemplate]="rtCourseInstructor"
                         (ngModelChange)="sharedDataService.onFilterOptionsChanged$.next(sharedDataService.actualFilterOptions)"
                         (focus)="focusCourseInstructorsTextBox$.next($event.target.value)"
                         (click)="clickCourseInstructorsTextBox$.next($event.target.value)"
                         [inputFormatter]="formatterCourseInstructor"
                         [editable]="false"
                         #courseInstructorsTextBox="ngbTypeahead"/>
                  <!--<pre>pickedCourseInstrucor: {{ pickedCourseInstrucor | json }}</pre>-->
                </div>
              </div>
    <!--          <label *ngIf="showFoundHint" [style.color]="foundCount > 0 ? 'green' : 'red'" class="mx-auto d-block top-buffer" style="font-size: small; margin-bottom: 0">Dostępne godziny: {{}}</label>-->
              <div class="row top-buffer">
                <label for="liczbaGodzinId" class="col-5 col-form-label">Liczba godzin:</label>
                <div class="col-7">
                  <input type="number" class="form-control" style="text-align: center" id="liczbaGodzinId" [(ngModel)]="pickedNumberOfHours">
                </div>
              </div>
              <button class="btn btn-secondary top-buffer d-flex mx-auto" style="margin-top: 10%" [disabled]="!areAllOptionsPicked()" (click)="onAddClicked()">Dodaj</button>
            </div>
          </div>
        </div>
      </div>
      <button class="d-block float-md-right btn-link top-buffer" style="border: none; background: none" (click)="onBackClicked()">< Anuluj</button>
    </div>
<!--    <div class="col-4" style="background-color: red">-->
    <div class="col-5">
      <div class="overflow-auto" style="width: 90%; height: 85vh">
        <app-course-list></app-course-list>
      </div>
    </div>
  </div>
</div>
<ng-template ngbPanelContent #rtCourse let-r="result" let-t="term">
  <ngb-highlight [result]="r.code + ' - ' + r.name " [term]="t"></ngb-highlight>
</ng-template>
<ng-template ngbPanelContent #rtCourseInstructor let-r="result" let-t="term">
  <ngb-highlight class="row-cols-2" [result]="r.academicDegree + ' ' + r.firstName  + ' ' + r.surname" [term]="t"></ngb-highlight>
  <span class="row-cols-1 float-right" style="margin-left: 30px;">{{r.entrustedHours}} / {{r.additionalAttributes.pensum}}</span>
</ng-template>
